# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/

# PyTorch checkpoints
models/
*.pt

# Dataset cache
data/raw/
data/processed/

# HuggingFace cache
.cache/
huggingface/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
